/* An *{} at the top means that it affect everything */
    h3{color:green}
h4{background-color: #f4f4f4; color: #555555;}

body{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:20px; font-weight: normal; 
/* Same style as above 
body{font:normal 20px Arial, Helvetica, sans-serif;}
*/

line-height: 1.6em;
margin: 0em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

a:visited{
    color: teal;
}
/* text-decoration:none; removes underline on list - a means it applies to every link on the page */
/* a:visited only works with a link to an actual place */

.container{
    width: 80%;
    margin: auto;
}

.button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}
/*.my-form input[type="submit"] to alter the button wihtout .button tag (global)*/

.clr{
    clear: both;
}
/* .clr clears floats globally(?) */
.box-1{
    background-color: goldenrod;
    color: honeydew;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-bottom: 5px red solid;
    border-top: 5px red solid;
    border-bottom-width: 10px;       /*This takes over the 5px because it is a dedicated function*/
    border-top-style: dotted;
    /* Same style as above 
    border: 5px red solid; 
    */

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    /* Same as above
    padding: 20px;
    */
    
    margin-top: 100px;
    margin: 100px;
}

/*targets any p in the class of box-1*/
.box-1 p{
    font-family: verdana;
    font-style: italic;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted gray;
    padding: 20px;
    margin: 100px;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 20px;
    list-style: none;
    
}

.categories li{
    padding-bottom: 10px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png')
}
/* padding:0; removes the bullets - list-style:none; removes bullets */
/* 1px in border-bottom controls the size of the dots*/

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
    
}
/*label display:block makes it so that the name email and message are on different lines (not inline)*/

.my-form input[type="text"], .my-form textarea{
    padding: 10px;
    width: 100%;
}
/*[type="text"] targets only the things with the text tage and therefore leaves the submit button alone and the mesage since it is textarea*/

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/*border-box applies padding and stuff to the width instead of adding it on*/

#main-block{
    float: left;
    width: 70%;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: white;
    padding:15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url(../images/bgimage.jpeg);
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center top;
}
    /* when using url the .. brings you out of the folder you are in*/
.p-box h1{
    position: absolute;
    top: 40px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}
/*without giving the .p-box the position:relative tag, the .p-box h1 will only drop 40px from the top of the page*/

.fix-me{
    position: fixed;
    top: 400px;
}

.my-list li:first-child{
    background: red;

}

.my-list li:last-child{
    background: royalblue;
}

.my-list li:nth-child(5){
    background: seagreen;
}

.my-list li:nth-child(even){
    background: slateblue;
}

/* the colon after li is a subfield*/ 